<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{! Document Settings }}
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  {{! Styles }}
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

  {{! Responsive Meta Tags }}
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="/assets/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

  {{ghost_head}}
</head>

<body class="{{body_class}}">

  {{{body}}}

  {{ghost_foot}}

</body>
</html>